In [1]:
# This makes it so that jupyter wont just output the last line, but everything that gets outputted.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import numpy as np

## Beskrivning

Kickstarter är en tjänst där vem som helst kan försöka få finansiering av privatpersoner och företag för att förverkliga ett projekt. Datan består några tusen projekt som varit publicerade. Om du blir osäker på vad Kickstarter är, googla! :-)

Uppgiften går ut på att använda pythonbiblioteket "pandas" för att arbeta med datan. Denna laboration förutsätter att ni har läst på och deltagit på lektioner om pandas för att behärska lösningarna.

### Använd jupyternotebook i vscode (Alternativ 1), rekommenderas
Lös notebooken i vscode. Du behöver då installera pandas med hjälp av pip eller conda, tex. "pip install pandas". Följ denna youtube-video: https://www.youtube.com/watch?v=jNk-ZmeIz6c&ab_channel=VeryAcademy
**OBS** OM DU SKA INKLUDERA EN VIRTUAL ENVIRONMENT (VENV) SÅ MÅSTE DU DÖPA DEN TILL "VENV" ELLER BYTA NAMN PÅ VAD SOM STÅR I .gitignore-filen TILL SAMMA NAMN SOM DIN VIRTUAL ENVIRONMENT. Du ska alltså inte pusha ut din virtual environment till git! I många fall behöver du ingen virtual environment (venv) utan du kan köra pip install pandas direkt. Försök byta "interpreter" genom att skriva ctrl + shift + p --> select interpreter --> testa alla dina olika versioner av python

Om du inte kan köra dina celler så ska du se till att du valt en "kernel" längst uppe till höger.


### Använd google colab för din notebook (Alternativ 2), rekommenderas ej
Du kan göra uppgiften genom att använda google colab, Du kommer att behöva ladda upp main.ipynb följt av att lägga till testdatan "kickstarter.csv". Tänk bara på att du åtminstone 2-3 gånger under tidens gång sparar filen, gör en commit i git och pushar ut. Sedan fortsätter du. Detta är nackdelen med colab, att vi inte kan jobba med git lika smidigt.

### Hur du arbetar i notebooken

- För **VARJE** cell ska koden du skrivit displaya resultatet av dina operationer så att jag kan följa stegen du tar (genom att helt enkelt skriva "df" på slutet av varje cell). För vissa celler kan du dessutom se vilken output jag förväntar mig från celler där det står "Ta ej bort denna cell", om du tar bort cellen försvinner outputten. 
- **Det ska gå att köra koden från början till slut och få samma resultat igen**
- Du ska beskriva koden i varje cell så att jag ser att du förstår vad du gör. 
- Använd dokumentationen som stöd [https://pandas.pydata.org/docs/reference/frame.html](https://pandas.pydata.org/docs/reference/frame.html)

## Sektion 1

### 1 Ladda in datasettet kickstarter.csv till en dataframe, döp den till "df"

In [2]:
df = pd.read_csv('kickstarter.csv') # I loaded the dataset using pd.read_csv('kickstarter.csv') into a DataFrame and named it 'df' by assigning it with '='. 
df                                  # Then I called it to view the DataFrame

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
0,1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful,5085,US,98849$ usd,408052.00,25000.00,"Mary Grove, 30815"
1,1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful,10,US,52486$ usd,1106.00,1100.00,"Garcia Tunnel, 77525"
2,121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
3,49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
4,1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.0,failed,1,US,70106$ usd,25.00,2500.00,"Fernandez Cliff, 07444"
1996,1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,USD,2012-10-11,4850.0,2012-09-14 23:43:32,40.0,failed,2,US,77334$ usd,40.00,4850.00,"Williams Junction, 45598"
1997,508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,USD,2016-12-19,25000.0,2016-11-04 00:45:31,86.0,failed,2,US,95565$ usd,86.00,25000.00,"Elaine Point, 97758"
1998,945357371ID,Behind the Food Carts Road Trip,Photography,Photography,USD,2014-02-04,5000.0,2014-01-14 23:48:24,5610.0,successful,77,US,86498$ usd,5610.00,5000.00,"Nancy Dam, 25971"
1999,1093469237ID,Paintball Robot,Technology,Technology,USD,2011-03-23,15000.0,2011-02-11 23:55:07,1233.0,failed,18,US,72847$ usd,1233.00,15000.00,"Kennedy Motorway, 67176"

### 2 Printa ut de 5 första raderna

In [3]:
df.head() # We always call it by its name, in this case 'df', and using .head() we get the top rows.
          # If we want to display 5 rows of a DataFrame, we don't need to write 5. 
          # If the parentheses are empty, it automatically shows 5 rows. 
          # This applies only to number 5

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
0,1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful,5085,US,98849$ usd,408052.00,25000.00,"Mary Grove, 30815"
1,1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful,10,US,52486$ usd,1106.00,1100.00,"Garcia Tunnel, 77525"
2,121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
3,49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
4,1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"

In [ ]:
# Ta ej bort denna cell

### 3 Printa ut 20 slumpmässiga rader från datasettet

In [4]:
df.sample(20) # When we call it with .sample(), it returns random rows. 
              # We write the number of rows we want inside the parentheses

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
1112,2118000353ID,Royal Ball Documentary,Documentary,Film & Video,USD,2015-05-02,11950.0,2015-04-02 18:44:02,0.0,failed,0,US,80806$ usd,0.00,11950.00,"Trevor Expressway, 36535"
3,49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
896,33385142ID,Quicksand SwimClub is recording a Full Length!...,Rock,Music,USD,2012-04-12,5000.0,2012-03-12 23:37:56,0.0,canceled,0,US,86999$ usd,0.00,5000.00,"Joshua Field, 97703"
439,1800695663ID,The Zombies Are Coming To Town!,Film & Video,Film & Video,USD,2010-05-24,3000.0,2010-03-23 02:51:19,311.0,failed,3,US,83867$ usd,311.00,3000.00,"Benton Brook, 96723"
1936,1131626532ID,Winter is Coming Film | Seasons of Entrepreneu...,Documentary,Film & Video,USD,2015-09-13,75000.0,2015-07-15 03:57:32,0.0,failed,0,US,61025$ usd,0.00,75000.00,"Michael Via, 95608"
1838,786822610ID,Publishing 65 Word Stars - Art and Poetry buil...,Poetry,Publishing,USD,2012-04-12,2500.0,2012-03-13 19:59:56,2780.0,successful,63,US,70813$ usd,2780.00,2500.00,"Javier Plains, 14161"
1211,1763891586ID,Savannah's Radical Jewelry Makeover,Public Art,Art,USD,2015-01-24,1100.0,2015-01-14 19:53:37,543.0,failed,23,US,81395$ usd,543.00,1100.00,"Patricia Motorway, 04930"
136,218491887ID,Th'underGrounds,Spaces,Theater,USD,2016-10-09,3000.0,2016-09-09 20:25:10,3135.0,successful,64,US,80450$ usd,3135.00,3000.00,"Deanna Fork, 56467"
360,749203244ID,Web Programming For The Real World With ASP.NET,Software,Technology,USD,2013-04-24,1750.0,2013-03-28 22:33:09,701.0,failed,44,US,51545$ usd,701.00,1750.00,"Daugherty Coves, 31688"
1284,1976793617ID,Most unbelievabley delicious sandwich ever,Small Batch,Food,USD,2015-03-16,35.0,2015-01-15 15:19:26,10.0,failed,2,US,86412$ usd,10.00,35.00,"Johnson Mountains, 71870"
1660,510457856ID,MRE Praisers. Album Recording,Music,Music,CAD,2013-11-09,9500.0,2013-10-05 08:35:29,0.0,failed,0,CA,74181$ usd,0.00,9078.75,"Megan Cliff, 43433"
1681,839828111ID,The Barber's Edge: Get the barber-fresh look b...,Product Design,Design,USD,2017-01-26,4000.0,2016-12-12 22:21:08,769.0,failed,50,US,90431$ usd,769.00,4000.00,"Grimes Trafficway, 37259"
504,2123525767ID,DARWIN - Lightweight maintenance free child's ...,Product Design,Design,GBP,2017-12-08,10000.0,2017-11-07 17:41:22,203.0,failed,3,GB,70386$ usd,272.34,13415.62,"Patricia Circle, 33010"
1246,963524640ID,Ekumfi Atakwa,Documentary,Film & Video,USD,2013-03-03,10000.0,2013-01-12 04:11:07,11594.0,successful,62,US,68887$ usd,11594.00,10000.00,"Ellis Lodge, 38392"
1722,1394843684ID,Project ArcheBlade (Canceled),Video Games,Games,USD,2013-01-05,100000.0,2012-11-23 12:38:44,4303.0,canceled,64,US,74790$ usd,4303.00,100000.00,"Erin Mission, 67674"
909,1529667656ID,"MAXrotor - Open Source, Plug & Play, Modular Q...",Hardware,Technology,USD,2013-07-22,15000.0,2013-06-22 04:21:38,3389.0,failed,44,US,75944$ usd,3389.00,15000.00,"Matthew Orchard, 02445"
866,1140066398ID,"""Speak to Me"": New Worship from Noelle Shearer",Music,Music,USD,2012-11-12,3000.0,2012-10-13 15:37:02,3565.0,successful,70,US,71623$ usd,3565.00,3000.00,"Mackenzie Groves, 00723"
608,1103908230ID,Fancy Pants Chance Likes to Dance Board Book,Illustration,Art,USD,2016-03-03,9025.0,2016-02-02 17:14:04,546.0,failed,18,US,81706$ usd,546.00,9025.00,"Patricia Pass, 28442"
39,192022803ID,Art is Art! Studio Start-Up,Digital Art,Art,USD,2015-02-08,1500.0,2015-01-11 01:35:25,1.0,failed,1,US,90742$ usd,1.00,1500.00,"James Turnpike, 42293"
632,1087190388ID,Animal Woodworx - Hand Crafted Pet safe Products,Product Design,Design,AUD,2014-05-11,10000.0,2014-04-11 20:08:12,1.0,failed,1,AU,57357$ usd,0.94,9359.79,"Best Hill, 87180"

In [ ]:
# Ta ej bort denna cell

### 4 Visa en sammanställning av information från din dataframe

In [5]:
df.info() # With .info() we can see how many rows and columns the DataFrame has, 
          # the index numbers, the column names, whether they contain values or are empty, 
          # and finally, the data types of each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  2000 non-null   object
 1   name                2000 non-null   object
 2   category            2000 non-null   object
 3   main_category       2000 non-null   object
 4   currency            2000 non-null   object
 5   deadline            2000 non-null   object
 6   goal                2000 non-null   float64
 7   launched            2000 non-null   object
 8   pledged             2000 non-null   float64
 9   state               2000 non-null   object
 10  backers             2000 non-null   int64
 11  country             2000 non-null   object
 12  usd pledged         2000 non-null   object
 13  usd_pledged_result  2000 non-null   float64
 14  usd_funding_goal    2000 non-null   float64
 15  company_address     2000 non-null   object
dtypes: float64(4), int64(1), object(11)
memory usage: 250.1+ KB

In [ ]:
# Ta ej bort denna cell

### 5 Printa rad 5 till rad 10 (inkluderat 10) med hjälp av .iloc

In [6]:
df.iloc[5:11] # df.iloc[5:11] selects rows using integer-location based indexing. 
              # 5 is the row we start viewing, and 10 is the last row we want to see. 
              # In Python, the end index is exclusive, so writing 11 means we actually view up to row 10

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
5,2021765829ID,Feels Like Home is Going On Tour,Rock,Music,USD,2013-05-01,5000.0,2013-04-10 01:42:03,5490.69,successful,93,US,74996$ usd,5490.69,5000.00,"Gonzalez Landing, 20367"
6,923683665ID,Sarah’s Journey: Empowering the Dreams of Disp...,Children's Books,Publishing,SEK,2016-12-19,218000.0,2016-11-15 19:13:46,227101.00,successful,352,SE,67246$ usd,24593.47,23607.89,"Hall Loaf, 09759"
7,397532230ID,James Clark's Lonely Hearts Rugby Clwb Film & ...,Music,Music,GBP,2014-02-04,300.0,2014-01-07 23:34:41,624.00,successful,26,GB,61172$ usd,1018.79,489.80,"Cunningham Throughway, 66540"
8,181163322ID,Chosen Kin: A New Superhero Series & Interacti...,Webseries,Film & Video,USD,2017-02-02,5000.0,2017-01-03 06:54:08,156.00,failed,5,US,96858$ usd,156.00,5000.00,"Bullock Skyway, 28207"
9,1616507003ID,Adventures in Oz: Beyond the Deadly Desert,Games,Games,USD,2011-12-02,3000.0,2011-11-01 00:00:10,520.00,failed,17,US,82928$ usd,520.00,3000.00,"Harris Estates, 48703"
10,373344194ID,Moonlight Vulture,Restaurants,Food,USD,2016-01-04,10000.0,2015-12-14 15:23:00,10727.00,successful,102,US,51152$ usd,10727.00,10000.00,"Bryant Manor, 16806"

In [ ]:
# Ta ej bort denna cell

### 6 Byt index (radernas namn) så att index är baserat på den befintliga kolumnen ID, ändringen ska vara permanent (använd inte inplace)

In [7]:
df = df.set_index('ID')   # With the set_index() method, we change the index to 'ID'. 
df                        # By assigning it back to df with '=', the change becomes permanent

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
ID,,,,,,,,,,,,,,,
1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful,5085,US,98849$ usd,408052.00,25000.00,"Mary Grove, 30815"
1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful,10,US,52486$ usd,1106.00,1100.00,"Garcia Tunnel, 77525"
121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.0,failed,1,US,70106$ usd,25.00,2500.00,"Fernandez Cliff, 07444"
1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,USD,2012-10-11,4850.0,2012-09-14 23:43:32,40.0,failed,2,US,77334$ usd,40.00,4850.00,"Williams Junction, 45598"
508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,USD,2016-12-19,25000.0,2016-11-04 00:45:31,86.0,failed,2,US,95565$ usd,86.00,25000.00,"Elaine Point, 97758"
945357371ID,Behind the Food Carts Road Trip,Photography,Photography,USD,2014-02-04,5000.0,2014-01-14 23:48:24,5610.0,successful,77,US,86498$ usd,5610.00,5000.00,"Nancy Dam, 25971"
1093469237ID,Paintball Robot,Technology,Technology,USD,2011-03-23,15000.0,2011-02-11 23:55:07,1233.0,failed,18,US,72847$ usd,1233.00,15000.00,"Kennedy Motorway, 67176"

In [ ]:
# Ta ej bort denna cell

### 7 Displaya raderna med indexet "121816660ID" till "1503277376ID" med hjälp av .loc
- Förklara varför en dataframe på många sätt är en blandning mellan en lista och dictionary, använd .iloc och .loc när du argumenterar

In [8]:
df.loc['121816660ID':'1503277376ID'] # Selected rows from a starting index to an ending index using .loc. 
                                     # Since the index consists of strings , we can use the actual index names 
                                     # instead of counting positions or writing a specific row number.
# A DataFrame is like a list and a dictionary, 
# because .iloc accesses rows by position (like a list) and .loc accesses rows by index labels (like a dictionary)

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
ID,,,,,,,,,,,,,,,
121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"

In [ ]:
# Ta ej bort denna cell

### 8 Displaya alla rader med currencyn "USD" genom att använda en mask

In [9]:
mask = (df['currency']=='USD')   # Created a mask to select rows where the 'currency' is 'USD' and displayed only those rows
df[mask]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
ID,,,,,,,,,,,,,,,
1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.00,successful,5085,US,98849$ usd,408052.00,25000.0,"Mary Grove, 30815"
1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.00,successful,10,US,52486$ usd,1106.00,1100.0,"Garcia Tunnel, 77525"
1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.00,successful,9,US,99272$ usd,5025.00,5000.0,"Andrew Pike, 24782"
2021765829ID,Feels Like Home is Going On Tour,Rock,Music,USD,2013-05-01,5000.0,2013-04-10 01:42:03,5490.69,successful,93,US,74996$ usd,5490.69,5000.0,"Gonzalez Landing, 20367"
181163322ID,Chosen Kin: A New Superhero Series & Interacti...,Webseries,Film & Video,USD,2017-02-02,5000.0,2017-01-03 06:54:08,156.00,failed,5,US,96858$ usd,156.00,5000.0,"Bullock Skyway, 28207"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.00,failed,1,US,70106$ usd,25.00,2500.0,"Fernandez Cliff, 07444"
1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,USD,2012-10-11,4850.0,2012-09-14 23:43:32,40.00,failed,2,US,77334$ usd,40.00,4850.0,"Williams Junction, 45598"
508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,USD,2016-12-19,25000.0,2016-11-04 00:45:31,86.00,failed,2,US,95565$ usd,86.00,25000.0,"Elaine Point, 97758"
945357371ID,Behind the Food Carts Road Trip,Photography,Photography,USD,2014-02-04,5000.0,2014-01-14 23:48:24,5610.00,successful,77,US,86498$ usd,5610.00,5000.0,"Nancy Dam, 25971"
1093469237ID,Paintball Robot,Technology,Technology,USD,2011-03-23,15000.0,2011-02-11 23:55:07,1233.00,failed,18,US,72847$ usd,1233.00,15000.0,"Kennedy Motorway, 67176"

In [ ]:
# Ta ej bort denna cell

### 9 kolumnen "pledged" har en hel del värden med 0.0. Ändra dessa till NaN-datatypen istället, använd exempelvis .loc

In [10]:
df['pledged'] = df['pledged'].replace(0.0 , np.nan)   # I selected the 'pledged' column and replaced all 0.0 values with NaN
df                                                    # By assigning it back to df['pledged'], I made the change permanent in the DataFrame

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
ID,,,,,,,,,,,,,,,
1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful,5085,US,98849$ usd,408052.00,25000.00,"Mary Grove, 30815"
1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful,10,US,52486$ usd,1106.00,1100.00,"Garcia Tunnel, 77525"
121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,NaN,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.0,failed,1,US,70106$ usd,25.00,2500.00,"Fernandez Cliff, 07444"
1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,USD,2012-10-11,4850.0,2012-09-14 23:43:32,40.0,failed,2,US,77334$ usd,40.00,4850.00,"Williams Junction, 45598"
508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,USD,2016-12-19,25000.0,2016-11-04 00:45:31,86.0,failed,2,US,95565$ usd,86.00,25000.00,"Elaine Point, 97758"
945357371ID,Behind the Food Carts Road Trip,Photography,Photography,USD,2014-02-04,5000.0,2014-01-14 23:48:24,5610.0,successful,77,US,86498$ usd,5610.00,5000.00,"Nancy Dam, 25971"
1093469237ID,Paintball Robot,Technology,Technology,USD,2011-03-23,15000.0,2011-02-11 23:55:07,1233.0,failed,18,US,72847$ usd,1233.00,15000.00,"Kennedy Motorway, 67176"

### 10 Printa ut alla rader som har NaN med sina vanliga värden (dvs. det ska inte bara vara True / False), ___Du ska använda dig av en metod/funktion___

In [11]:
# Du ska **INTE** göra så här: ks[ks["pledged"] == np.NaN] - du kan ju testa, det kommer inte att fungera!
df[df.isna().any(axis=1)]                                       # .any(axis=1) checks each row to see if it contains any NaN, 
                                                                # and df[] in the beginning selects only those rows 
                                                                #  without df[] it would show only True and False

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
ID,,,,,,,,,,,,,,,
49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,NaN,failed,0,SE,64632$ usd,0.0,23054.76,"Laura Stream, 08932"
1384707351ID,Batman Band Builder for Ios and Android (Cance...,Games,Games,GBP,2015-10-28,500.0,2015-09-28 21:17:03,NaN,canceled,0,GB,50983$ usd,0.0,766.99,"Barbara Islands, 71175"
1511392096ID,Criss Cross Quail acres,Farms,Food,USD,2015-02-20,30000.0,2015-01-21 21:23:08,NaN,failed,0,US,80915$ usd,0.0,30000.00,"Stacey Loaf, 25341"
1616831393ID,Help us construct with music (Canceled),Music,Music,USD,2011-04-09,10000.0,2011-03-10 05:20:04,NaN,canceled,0,US,86018$ usd,0.0,10000.00,"Jill Course, 75981"
1992107184ID,Community Art Wall (Canceled),Public Art,Art,USD,2013-07-28,6750.0,2013-05-29 22:00:17,NaN,canceled,0,US,85307$ usd,0.0,6750.00,"Collins Pike, 12819"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625585267ID,Rosie the hippo: Do I have to share my toys? (...,Children's Books,Publishing,USD,2015-12-16,3000.0,2015-11-16 18:31:08,NaN,canceled,0,US,61783$ usd,0.0,3000.00,"Jennifer Trail, 37296"
615895406ID,Kombat Komedian 2,Experimental,Film & Video,EUR,2015-08-15,2000.0,2015-06-18 01:01:07,NaN,failed,0,IT,63965$ usd,0.0,2256.19,"Harmon Walk, 31405"
603589651ID,The beginning,Animation,Film & Video,DKK,2017-09-26,35000.0,2017-08-27 23:22:06,NaN,failed,0,DK,77101$ usd,0.0,5552.21,"Shaw Shore, 91720"
374290795ID,Soul Sessions with Yolanda Stephens (Canceled),Music,Music,USD,2015-09-30,50000.0,2015-08-18 21:59:21,NaN,canceled,0,US,71133$ usd,0.0,50000.00,"Fitzpatrick Alley, 18274"
932817729ID,Chipps and Dipps,Tabletop Games,Games,USD,2016-11-16,35000.0,2016-10-18 21:59:14,NaN,canceled,0,US,53455$ usd,0.0,35000.00,"Stanley Falls, 53083"

In [ ]:
# Ta ej bort denna cell

### 11 Skapa en ny kolumn som är heter pledged_real_diff som representerar skillnaden i USD mellan pledged usd och usd_pledged_result.
Hint: Du kommer behöva "cleana" "pledged usd" så att du kan utföra matematiska operationer på det genom att först städa bort onödig text och sedan konvertera det till en float.

In [12]:
df['usd pledged'].str.len().unique()                                    # I checked how many characters each cell in 'usd pledged' has
df[~df['usd pledged'].str.lower().str.endswith('$ usd')]                # I checked if all values end with '$ usd'
df['usd pledged'] =  df['usd pledged'].str[:-5].astype(float)           # I removed the last 5 characters ('$ usd') and converted the column to float, so I can subtract numbers
df['usd pledged']                                                       # I checked if the change worked
df['pledged_real_diff'] = df['usd pledged'] - df['usd_pledged_result']  # I created a new column by subtracting 'usd_pledged_result' from 'usd pledged'
df                                                                      # I checked the final DataFrame

array([10])

Empty DataFrame
Columns: [name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd pledged, usd_pledged_result, usd_funding_goal, company_address]
Index: []

ID
1054480724ID    98849.0
1317034686ID    52486.0
121816660ID     53482.0
49882738ID      64632.0
1503277376ID    99272.0
                 ...
867650362ID     70106.0
1512412268ID    77334.0
508267839ID     95565.0
945357371ID     86498.0
1093469237ID    72847.0
Name: usd pledged, Length: 2000, dtype: float64

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address,pledged_real_diff
ID,,,,,,,,,,,,,,,,
1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful,5085,US,98849.0,408052.00,25000.00,"Mary Grove, 30815",-309203.00
1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful,10,US,52486.0,1106.00,1100.00,"Garcia Tunnel, 77525",51380.00
121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482.0,2422.88,74550.09,"Payne Isle, 42813",51059.12
49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,NaN,failed,0,SE,64632.0,0.00,23054.76,"Laura Stream, 08932",64632.00
1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272.0,5025.00,5000.00,"Andrew Pike, 24782",94247.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.0,failed,1,US,70106.0,25.00,2500.00,"Fernandez Cliff, 07444",70081.00
1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,USD,2012-10-11,4850.0,2012-09-14 23:43:32,40.0,failed,2,US,77334.0,40.00,4850.00,"Williams Junction, 45598",77294.00
508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,USD,2016-12-19,25000.0,2016-11-04 00:45:31,86.0,failed,2,US,95565.0,86.00,25000.00,"Elaine Point, 97758",95479.00
945357371ID,Behind the Food Carts Road Trip,Photography,Photography,USD,2014-02-04,5000.0,2014-01-14 23:48:24,5610.0,successful,77,US,86498.0,5610.00,5000.00,"Nancy Dam, 25971",80888.00
1093469237ID,Paintball Robot,Technology,Technology,USD,2011-03-23,15000.0,2011-02-11 23:55:07,1233.0,failed,18,US,72847.0,1233.00,15000.00,"Kennedy Motorway, 67176",71614.00

### 12 Displaya hur många kickstarterprojekt det finns uppdelat på kategori med hjälp av kolumnen main_category

In [13]:
df['main_category'].value_counts() # I counted how many times each value appears in the column to see the distribution of categories

main_category
Film & Video    375
Music           272
Publishing      198
Games           186
Art             154
Design          153
Technology      150
Food            142
Fashion         102
Photography      62
Theater          57
Crafts           56
Comics           47
Journalism       23
Dance            23
Name: count, dtype: int64

In [ ]:
# Ta ej bort denna cell

### 13 Vad är det högsta resultatet för usd_pledged_result? Du ska använda dig av en metod.

In [14]:
df['usd_pledged_result'].max() # I checked the maximum value in the column to see the highest amount pledged

np.float64(1021481.0)

In [ ]:
# Ta ej bort denna cell

### 14 Visa de projekten med minst "usd_pledged_result" - använd dig av .min()
Du ska inte enbart visa värdet, utan hela raderna

Tips: Använd en mask!

In [ ]:
mask= df['usd_pledged_result']== df['usd_pledged_result'].min()  # I created a mask to find the rows with the smallest value, 
df[mask]                                                         # then used it to display those rows from the DataFrame

In [ ]:
# Ta ej bort denna cell

### 15 Hitta alla rader som innehåller ordet "Cross" i kolumnen "name" med hjälp av string-metoder och displaya högsta värdet för kolumnen "pledged"

In [ ]:
df[df['name'].str.contains('Cross' , case=False , na=False)].sort_values('pledged' , ascending=False)
# I filtered the DataFrame to include only projects with 'Cross' in their name (case-insensitive),
# then sorted these rows by the 'pledged' amount in descending order to see the highest pledged projects first

In [ ]:
# Ta ej bort denna cell

## Sektion 2

### 16 Displaya hur många kickstarterprojekt uppdelat på kategori med hjälp av kolumnen main_category. Displaya topp 5 sorterat från högst till lägst.

In [ ]:
df['main_category'].value_counts(ascending= False).head()
# counts how many times each unique value appears in the colum 
# sorts the counts from largest to smallest
# .head() shows only the top 5 most common categories

In [ ]:
# Ta ej bort denna cell

### 17 Displaya de top 10 ovanligaste KOMBINATIONERNA av "main_category" och "category" som är country "US"

In [ ]:
df[df['country']=='US'][['main_category', 'category']].value_counts().sort_values(ascending= True).head(10)
# I filtered the DataFrame to include only rows where country is 'US',
# then counted how many times each combination of 'main_category' and 'category' occurs,
# sorted the counts from least to most frequent,
# and displayed the top 10 rarest combinations

In [ ]:
# Ta ej bort denna cell

### 18 Dela upp projekten i grupper baserat på main_category, vad är den genomsnittliga funding-målet dom har (usd_funding_goal). Sortera resultatet från högt till lågt

In [ ]:
df.groupby('main_category')['usd_funding_goal'].mean().sort_values(ascending=False)
# I grouped the projects by 'main_category', calculated the average 'usd_funding_goal' for each group,
# and sorted the results from highest to lowest average funding goal

In [ ]:
# Ta ej bort denna cell

### 19 Displaya en sammanställning av samma gruppering som förra uppgiften. Den ska nu innehålla flera kolumner med minst genomsnitt, max, min, count
- Använd först .describe och displaya din output
- Använd .agg() och displaya din output, du ska endast inkludera genomsnitt, max, min, count

In [ ]:
# Ta ej bort denna cell

In [ ]:
df.groupby('main_category')['usd_funding_goal'].describe()
# I grouped the projects by 'main_category' and applied .describe() to 'usd_funding_goal'.
# This displays a summary of statistics for each group, including count, mean, (std),
#  (min), quartiles , and  (max) funding goals

In [ ]:
df.groupby('main_category')['usd_funding_goal'].agg(['mean' , 'max','min', 'count'])
# Grouped the projects by 'main_category' and used .agg() to apply multiple aggregation functions
# at once on 'usd_funding_goal'. It calculates only the mean, max, min, and count for each group,
# unlike .describe(), which returns additional statistics like std and quartiles.

### 20 Gruppera baserat på kolumnen "state" och displaya genomsnittet av backers (dvs. antal folk som betalat pengar för att stötta projektet). Vad drar du för slutsats? Det räcker med max 2 meningar.

In [ ]:
df.groupby('state')['backers'].mean()
# Grouped the projects by 'state' and calculated the average number of backers for each state.
# This shows how many people, on average, backed projects in each state.
# Projects that were successful or live tend to have more backers on average, 
# while failed or cancelled projects have fewer backers.

In [ ]:
# Ta ej bort denna cell

### 21 Använd .apply() 
1. Undersök vilka kategorier det finns i kolumnen "state"
2. Skapa en funktion som baserat på värdena i kolumnen state är, modifierar kolumnen "usd_funding_goal" med en * om det står success, "!" för failure eller canceled, "---" för "suspended".
3. Displaya ett sample av 20 rader från din modifierade kolumn

In [ ]:
df['state'].apply(str).unique()   # Converted all 'state' values to strings and displayed the unique project states in the DataFrame

In [ ]:
def modify_goal(state, goal):                    # Defined a function to modify the funding goal based on project state: added  * ! --- in the ends
    if state == 'successful':                    # Created a new column by applying this function row by row
        return str(goal) + ' *'                  # Converted the numeric funding goal to a string so symbols could be combined safely.
    elif state in ['failed', 'canceled']:  
        return str(goal) + ' !'
    elif state == 'suspended':
        return str(goal) + ' ---'
    else:
        return str(goal)
    
df['modified'] = df.apply(lambda row: modify_goal(row['state'],row['usd_funding_goal']), axis=1 )

In [ ]:
df[['state','usd_funding_goal', 'modified']].sample(20) 
# Displayed a random sample of 20 rows showing the 'state','usd_funding_goal', and the 'modified' column