# MYH Education Data Harmonization (2016–2020)
This project focuses on the Transformation and Harmonization of dataset fragments from the Swedish Higher Vocational Education Authority (MYH).

Project Goals:
Merge five separate years of application data into a single master dataset.

Standardize inconsistent column naming conventions across different years.

Clean and convert data types for accurate mathematical analysis.

Step 1

### Setup & Environment
We start by importing our core libraries: pandas for data manipulation and numpy for numerical operations. We also check our working directory to ensure the script can locate the Excel files stored in the part_2 folder.

In [ ]:
import pandas as pd

In [ ]:
import os
# Check our current location to ensure Python can find the Excel files in 'part_2'
os.getcwd()

### We are analyzing MYH (Higher Vocational Education) data from 2016–2020. Since the data is split across multiple files, we load each year into a separate DataFrame. 
Note: 2020 requires special handling as it contains multiple sheets.

In [ ]:
df2016 = pd.read_excel('2016.xlsx')
df2017 = pd.read_excel('2017.xlsx')
df2018 = pd.read_excel('2018.xlsx')
df2019 = pd.read_excel('2019.xlsx')
df2020_2 = pd.read_excel('2020.xlsx')

### Edit 2016  year

In [ ]:
df2016

In [ ]:
df2016['År'] = 2016
df2016

### Edit year 2017

In [ ]:
df2017

In [ ]:
df2017['År'] = 2017
df2017

### Edit 2018

In [ ]:
df2018

In [ ]:
df2018['År'] = 2018
df2018

### Edit 2019

In [ ]:
df2019

In [ ]:
df2019['År'] = 2019
df2019

### Edit 2020

In [ ]:
df2020_2 = '2020.xlsx'

df_tabell1 = pd.read_excel(df2020_2, sheet_name = 'Tabell 1')
df_tabell2 = pd.read_excel(df2020_2, sheet_name = 'Tabell 2')

df_tabell1['År'] = 2020
df_tabell2['År'] = 2020

df2020 =pd.concat([df_tabell1 , df_tabell2] , ignore_index= True)
df2020

### Concat all years together and display

In [ ]:
# Merging 2016-2020 data into a single master dataframe
df = pd.concat([df2016, df2017, df2018, df2019, df2020], ignore_index=True)
# Note: We use ignore_index=True so that the new master list gets a fresh set of row numbers from 0 to the end, rather than repeating 0-350 for every year.
df

### Make a copy of merged dataframe

In [ ]:
# df.to_excel("all_years_merged_copy.xlsx", index=False)

### Delete headers   (not columns)

In [ ]:
df.drop(['Unnamed: 9', 'Notera: Län och kommun visar där utbildningen avses bedrivas.'], axis= 1 , inplace= True)

In [ ]:
df.columns

Different years used different names for the same information (e.g., some years called the school 'Anordnare', others 'Utbildningsanordnare'). 
To create a clean dataset, we consolidate these into a single unified column and remove the redundant original columns.

In [ ]:
df['Utbildningsanordnare, administrativ enhet'].unique()

In [ ]:
df['Utbildningsanordnare administrativ enhet'].unique()

In [ ]:
df['Utbildningsanordnare'].unique()

In [ ]:
df['Anordnare administrativ enhet'].unique()

In [ ]:
df['Anordnare, administrativ enhet'].unique()

### Merge to one column

In [ ]:
df[['Anordnare, administrativ enhet','Utbildningsanordnare', 'Anordnare administrativ enhet', 'Utbildningsanordnare, administrativ enhet', 'Utbildningsanordnare administrativ enhet']].sample(10)

merge columns

In [ ]:
df.columns

In [ ]:
cols_to_merge = ['Anordnare, administrativ enhet', 'Utbildningsanordnare', 
                 'Anordnare administrativ enhet', 'Utbildningsanordnare administrativ enhet',
                 'Utbildningsanordnare, administrativ enhet' ]
df['Utbildningsanordnare administrativ enhet'] = df[cols_to_merge].bfill(axis=1).iloc[:,0]

In [ ]:
df

In [ ]:
df.drop(['Anordnare, administrativ enhet',  'Utbildningsanordnare', 'Anordnare administrativ enhet','Utbildningsanordnare, administrativ enhet'
], axis=1, inplace= True)

check it

In [ ]:
df

check column by column if they have problem

In [ ]:
df.columns

In [ ]:
df['Län'].isna().sum()

In [ ]:
df[df['Kommun'].isna()]

In [ ]:
df = df.drop(1854)

Resetting index

In [ ]:
df.reset_index(drop=True, inplace= True)

In [ ]:
df['Utbildningsområde'].isna().sum()

In [ ]:
df['Utbildningsnamn'].isna().sum()

In [ ]:
df['YH-poäng'].isna().sum()

In [ ]:
df['Diarienummer'].isna().sum()

In [ ]:
df['Utbildningsanordnare administrativ enhet'].isna().sum()

In [ ]:
df['År'].isna().sum()

In [ ]:
df.info()

In [ ]:
df['Antal län'].unique()

convert to int

In [ ]:
df['Antal län'] = df['Antal län'].astype('Int64')

In [ ]:
df['Antal län'].unique()

In [ ]:
df[df['Antal kommuner'] > 2 ].sum()

In [ ]:
df['Flera studieorter'].value_counts(dropna= False)

In [ ]:
df.info()

In [ ]:
df['Antal kommuner'].unique()

In [ ]:
df['Antal kommuner'] = df['Antal kommuner'].astype('Int64')

In [ ]:
df['Antal kommuner'].unique()

In [ ]:
df['Antal kommuner'].value_counts(dropna= False)

In [ ]:
df

In [ ]:
df['Antal län'].value_counts(dropna= False)

In [ ]:
df['Antal studieorter'].value_counts(dropna= False )

In [ ]:
df['Antal studieorter'] = df['Antal studieorter'].astype('Int64')
df['Antal studieorter'].value_counts(dropna= False )

In [ ]:
df.index = df.index + 1

In [ ]:
df

In [ ]:
df = df.sort_values(by= 'Län')

In [ ]:
df

### Data Cleaning: Type Conversion

Pandas often imports numbers as floats or strings if there are missing values (NaN). We convert columns like YH-poäng and Antal studieorter to the nullable integer type Int64 to ensure we can perform mathematical

In [ ]:
df['YH-poäng']= df['YH-poäng'].astype('Int64')

Resetting the index

In [ ]:
df =df.reset_index(drop= True)
# Shift index by 1 so the list starts at 1 instead of 0 for better readability
df.index = df.index + 1

In [ ]:
df['Antal studieorter'].unique()